* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--font-body);
    color: var(--color-text-main);
}

button,
input {
    font-family: inherit;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}